html, body{
  margin:0;
  overflow-x: hidden;
  height:100%;
}

@font-face{
  font-family: blues;
  src: url('blues.ttf');
}

@font-face{
  font-family: champ;
  src: url('champ.ttf');
}

#nav{
  height:%;
  padding-left:10px;
  padding-top:5px;
  background-color:#E9e9e9;
  -moz-box-shadow: 2px 2px 2px black;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 1px 1px 2px black;
}
#nav-title{
  padding-left: 35%; 
  font-family:"blues"; 
  font-size:3.5em;
  font-weight: bolder;
  color:red;
  text-shadow: 3px 3px 4px white;

}
#home{
 padding-right: 10px;
}
#page-nav{
  float:right;
  padding-top: 3%;
  color:#537CCF;
  font-family: "champ"; 
  font-weight: bold;
  padding-right: 15px;
  word-spacing: 0px; 
}

#nav img{
  height:50px;
  width: 50px;
}

#add-bus{
  display:none;
}

#content{
  margin-top: 10px;
}

#search{
  padding-left:20%;

}


#search img{
  height: 25px;
  width:20px;
  padding-left:30px;
  padding-top:5px;
}
#search input{
  height:30px;
  border:1px solid #e9e9e9 ;
  margin-left: 30px;  
  padding-left: 5px;
  font-size: 17px;
  border-radius:5px;
  transition: all .1s ;
  font-family: "champ";
}
#search input:hover{
  border: 1px solid #ff0066;
  border-radius: 10px;
}

#search input:focus{
  border: 1px solid #ff0066;
  border-radius: 10px;
}

#search input[type=submit]{
  background-color:#FF8080;
  color:white;
  font-size:20px;
  font-weight: bold;
  font-family:"blues";
  transition: all .5s ease;
  box-shadow: 1px 1px 3px black;
}

#search input[type=submit]:hover{
  background-color:#FF0000;
  box-shadow: 1px 1px 7px black;
}
#buses{
 width: 70%;
 margin:auto;
 margin-top:3%; 
}
table{
 width:100%;
 border-collapse:collapse;
 border-radius: 10px;
 overflow-x: hidden;
}

td, th{
  border: 1px solid #999;
  text-align: left;
}
table tr:first-child{
  border-radius-top : 10px;
}
th{
  width:33%;
  height: 3em;
  background-color:#B2E0FF;
  text-align:center;
  font-family:champ;
  font-weight:bolder;
  font-size: 1.5em;
}


td{
  height: 2em;
  padding:0px; 
  overflow: hidden;
}

tr{
  width:inherit;
  overflow-x: hidden;
  
}

#log-in:hover{
  color:#00003d;
 text-shadow: 2px 2px 2px white;
}

#home:hover{
  color:#00003d;
 text-shadow: 2px 2px 2px white;
}

#login{
display:none;
height:100%;
width:100%;
background-color: rgba(0,0,0,.6);
position:fixed;
top:0;
left:0;
}

#login-form{
  
  padding:70px;
  border-radius: 7px;
  width:30%;
  margin:auto;
  text-align:center;
  background-color:white;
  margin-top:10%;
  position:relative;
  border: 1px solid red;
}

#login-form input{
 height:30px;
 border: 1px solid #ebebeb;
 margin:5px;
 width:320px;
 border-radius: 5px;
 transition: all .3s linear; 
 padding-left: 4px;
}

#login-form input:focus{
  border: 2px solid #e06666;
  border-radius : 8px;
}
#login-form input[type=button]{
  width:125px;
  height:30px;
  background-color: #ff3300;
  color:white;
  font-weight: bold;
  transition: all .3s linear;
}
#login-form input[type=button]:hover{
  background-color : #cc3300;
}
#login-form img{
 position:absolute;
 top:3px;
 height:40px;
 width:40px;
 left:4px;
}

#insert-bus{
  display: none;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  margin:1%;
  padding: 1.5%;
  border-radius: 10px;
  padding-right: 10px;
  position:fixed;
  right:0;
  background-color: #ceccd1;
  clear:auto;
  text-align:center;
}

#insert-bus input{
  height: 25px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #9b9b99;
  padding :2px;
}

#insert-bus input:hover{
  border: 1px solid #d14836;
}

#insert-bus input:focus{
  border: 1px solid #d14836;
}

#insert-bus input[type=button]{
  margin-top : 1%;
  height:30px;
  width: 150px;
  background-color: #E39486;
  border: 1px solid white;
  transition: all .3s;
}


#insert-bus input[type=button]:hover{
 background-color:#d14836;


}
